body {
    font-family: 'Russo One', sans-serif;
    color: white;
    
	max-height: 100vh;
	margin: 0;
    overflow: hidden;
    
	user-select: none;
	outline: 0;
	cursor: default;
}

.game-container {
	background-image: linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../img/background.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 100vh;
}

.page {
	height: calc(100vh - 100px);
}