@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: 'Passion One', cursive;
    font-weight: 400;
    color: white;
    
    max-height: 100vh;
    margin: 0;
    overflow: hidden;
    
    user-select: none;
    outline: 0;
    cursor: default;
  }
}

@layer components {
  .component {
    @apply bg-component shadow-component rounded-lg;
  }

  .blurred {
    filter: blur(5px);
  }
}

@layer components {
  .grid-template-4-4 {
    @apply grid-rows-4 grid-cols-4 max-h-4-4 max-w-4-4;
  }
  
  .grid-template-4-6 {
    @apply grid-rows-4 grid-cols-6 max-h-4-6 max-w-4-6;
  }
  
  .grid-template-4-8 {
    @apply grid-rows-4 grid-cols-8 max-h-4-8 max-w-4-8;
  }
  
  .grid-template-6-12 {
    @apply grid-rows-6 grid-cols-12 max-h-6-12 max-w-6-12;
  }
}

/*  */

/* Card */

.card-container {
  @apply aspect-w-1 aspect-h-1;
}

.card {
  @apply grid place-items-center p-1;
}

.card-image {
  @apply w-full h-auto border-white border-2 rounded-lg cursor-pointer;
}

/*  */